// -*- Mode: C; indent-tabs-mode: t; c-basic-offset: 4; tab-width: 4 -*-
// -----------------------------------------------------------------------------
//         :oCCCCOCoc.
//     .cCO8OOOOOOOOO8Oo:
//   .oOO8OOOOOOOOOOOOOOOCc
//  cO8888:         .:oOOOOC.                                                TM
// :888888:   :CCCc   .oOOOOC.     ###      ###                    #########
// C888888:   .ooo:   .C########   #####  #####  ######    ######  ##########
// O888888:         .oO###    ###  #####  ##### ########  ######## ####    ###
// C888888:   :8O.   .C##########  ### #### ### ##    ##  ##    ## ####    ###
// :8@@@@8:   :888c   o###         ### #### ### ########  ######## ##########
//  :8@@@@C   C@@@@   oo########   ###  ##  ###  ######    ######  #########
//    cO@@@@@@@@@@@@@@@@@Oc0
//      :oO8@@@@@@@@@@Oo.
//         .oCOOOOOCc.                                      http://remood.org/
// -----------------------------------------------------------------------------
// Copyright (C) 2011-2013 GhostlyDeath <ghostlydeath@remood.org>
//                                      <ghostlydeath@gmail.com>
// -----------------------------------------------------------------------------
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 3
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// -----------------------------------------------------------------------------
// DESCRIPTION: Win32 Resource

#if !defined(MINGWMAKED)
	#ifdef GAMESERVER
		#if _MSC_VER <= 1200
			1 ICON "globe6.ico"
		#else
			1 ICON "globe.ico"
		#endif
		2 ICON "globes.ico"
	#else
		#if _MSC_VER <= 1200
			1 ICON "remood6.ico"
		#else
			1 ICON "remood.ico"
		#endif
		2 ICON "remoods.ico"
	#endif
#else
	#ifdef GAMESERVER
		1 ICON "rc/globe.ico"
		2 ICON "rc/globes.ico"
	#else
		1 ICON "rc/remood.ico"
		2 ICON "rc/remoods.ico"
	#endif
#endif

// VERSION INFORMATION
1 VERSIONINFO
	FILEVERSION 1,0,97,0
	PRODUCTVERSION 1,0,97,0
	FILEFLAGSMASK 0x3fL
	#ifdef _DEBUG
		FILEFLAGS 0x1L
	#else
		FILEFLAGS 0x0L
	#endif
	FILEOS 0x4L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "GhostlyDeath <ghostlydeath@gmail.com>"
			VALUE "LegalCopyright", "GhostlyDeath <ghostlydeath@gmail.com>"
			VALUE "Description", "http://remood.org/"
			VALUE "LegalTrademarks", "GhostlyDeath <ghostlydeath@gmail.com>"
			VALUE "FileVersion", "1.0a"
			VALUE "ProductVersion", "1.0a"
			VALUE "InternalName", "ReMooD"
#ifdef _DEBUG
	#ifdef GAMESERVER
			VALUE "OriginalFilename", "remood-server-dbg.exe"
	#else
			VALUE "OriginalFilename", "remood-dbg.exe"
	#endif
#else
	#ifdef GAMESERVER
			VALUE "OriginalFilename", "remood-server.exe"
	#else
			VALUE "OriginalFilename", "remood.exe"
	#endif
#endif
			VALUE "FileDescription", "ReMooD"
			VALUE "ProductName", "ReMooD"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 0x04B0
	END
END
